services:
  backend:
    build:
      context: ./backend
      dockerfile: Docker/Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
    env_file:
      - ./backend/app/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile/Dockerfile
    container_name: react-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: company_db
      MYSQL_USER: user
      MYSQL_PASSWORD: 1a24c3de
      TZ: Asia/Tokyo
    volumes:
      - mysql_data:/var/lib/mysql
      - ./DB/mysql:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
