name: Run Python 3.11 Tests on Push or PR

on:
  pull_request:
    branches: [ main, 'feature/*', 'develop' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r ./backend/src/requirements.txt

      - name: Run tests
        working-directory: backend/src
        run: pytest
